html {
  color-scheme: dark;
}

html.light {
  color-scheme: light;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  background-color: var(--chakra-colors-bg);
  color: var(--chakra-colors-fg);
  font-family: var(--chakra-fonts-body);
  -webkit-font-smoothing: antialiased;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
